*{
    list-style: none;
}
body {
    font-family: serif;
    margin: 0em;
    padding: 0;
    display: flex;
    flex-direction: column;
}
aside {
    background-color: #FFC300;
}

img {
    border: 2px solid #EED209;
    border-radius: 50%;
     }
header{
    text-align: center;
}

h1{
    color: #ffc401;
   border-style: solid;
   border-width: 5px;
   background-color: #343331;
   text-align: center;
   
}

#center{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    width: auto;
}

.simbolo {
    height: 50px;
    width: 50px;
    margin: 20px;
    border: 3px solid black;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 45px;
    
}
h6{
    font-family: sans-serif;
    font-weight: 700;
    font-weight: lighter;
    font-size: 40px;
}

span { 
    color: #ffc401;
    font-weight: bold;
    }

u{
    text-decoration: underline #ffc401;
}
.symbol{
    color: #ffc401;
    
}
.colomn{
    display: flex;
    
}

